.main-panel-title {
    letter-spacing: 8px;
    line-height: 1em;
    padding: 10px 0 0 7px;
}

.main-panel-subtitle {
    line-height: 1em;
    font-size: 13px;
    padding-top: 2px;
}

.result-panel {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.result-panel .result-box {
    padding: 60px;
    color: #FFF;
    font-size: 5em;
    border-radius: 3px;
    background: darkgreen;
    text-shadow: 1px 1px 1px #000;
    -webkit-box-shadow: 1px 1px 14px -5px black;
}

.result-panel .result-box.result-box-st {
    background: grey;
}

.result-panel .result-box.result-box-ndl {
    background: black;
}
